@font-face {
  font-family: 'SCG-Bol';
  src: url('fonts/SCG/SCG-Bol.woff2') format('woff2');
  unicode-range: U+0E00–U+0E7F;
}

@font-face {
  font-family: 'SCG-Reg';
  src: url('fonts/SCG/SCG-Reg.woff2') format('woff2');
  unicode-range: U+0E00–U+0E7F;
}

@font-face {
  font-family: 'SCG-Lig';
  src: url('fonts/SCG/SCG-Lig.woff2') format('woff2');
  unicode-range: U+0E00–U+0E7F;
}

@keyframes backgroundFade {
  to {
    background-position:0 -200%
  }
}